
**/__pycache__
# data package
data/src/slrp_ev_data/darts_logs/*
data/src/slrp_ev_data/data/UCSD_garage_datasets_PF/*
data/src/slrp_ev_data/data/power_df_2008-2406_v250110_15min.csv
data/src/slrp_ev_data/data/power_df_2008-2406_v250110.csv
data/src/slrp_ev_data/saved_normalization_parameters/**

# simulations package
simulations/results/*/*/*.csv
!simulations/results/*/*/summary.csv

# time series formulation package
time_series_formulation/src/slrp_ev_ts_forecasting/runs/**
time_series_formulation/src/slrp_ev_ts_forecasting/models/**/*.pt
time_series_formulation/src/slrp_ev_ts_forecasting/models/runs/**
time_series_formulation/src/slrp_ev_ts_forecasting/results/archive/**
time_series_formulation/src/slrp_ev_ts_forecasting/models/saved_models/**

# profiling results
profil*.txt
profil*.lprof

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/y
ipython_config.p

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

